@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Viga&display=swap');

* { box-sizing: border-box; padding: 0; margin: 0; }
:root { --main-color: #70c1e0; --primary-color: #175491; --secondary-color: tomato; --tertiary-color: oldlace; }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px !important;
  font-optical-sizing: auto !important;
  height: 100%;
}

#logo {
  font-size: 1.675rem !important;
  font-family: "Viga", sans-serif;
  background: linear-gradient(90deg, var(--tertiary-color) 50%,  var(--secondary-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500 !important;
}

h1,h2,h3,h4,h5 { color: var(--primary-color) !important;}


 /* HEADER SECTION */
.navbar-toggler, .navbar-toggler-icon { font-size: small; color: var(--primary-color) !important; background-color: var(--tertiary-color) !important; }

header { 
  background-color: var(--primary-color);
  height: 70px;
}
header .navbar-nav, header .navbar-nav a { background-color: var(--primary-color) !important;}

header nav a {
  color:  var(--tertiary-color) !important;
  font-size: .985rem !important;
  font-weight: 600 !important;
  padding: 0 10px !important;
  background-color: var(--primary-color) !important;
}
header nav a:hover {
  background: linear-gradient(90deg, var(--secondary-color) 0%,  var(--tertiary-color) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Mobile */
@media (max-width: 700px) {
  .navbar-nav { margin-top: 10px;}
  header .navbar-nav a {
    padding: 15px 0 !important;
    border-bottom: 1px solid var(--main-color);
    font-weight: bolder !important;
    font-size: 1.7rem !important;
  }
}

/* HERO SECTION */
.hero-section {
  position: relative;
  background-image: url("/imgs/hero-img.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 2;
  padding: 20px;
}
.hero-content h1 {
  color: var(--tertiary-color) !important;
}
.hero-section .btn-primary {
  background-color: var(--secondary-color) !important;
  color: var(--tertiary-color);
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  border-radius: 35px !important;
  margin: 15px 0 0 !important;
  padding: 15px 40px !important;
  border: none;
  /* border-color: var(--seconday-color); */
}
.hero-section .btn-primary:hover {
  background-color: var(--primary-color) !important;
  color: var(--tertiary-color) !important;
  text-decoration: none;
}
/* Mobile */
@media (max-width: 700px) {
  .hero-section {
    height: 75%;
  }
  .hero-section .btn-primary { width: 100%;}
}

/* ABOUT SECTION */

#about { 
  background-color: var(--tertiary-color);

}
#about .row { 
  align-items: center;
  text-align: center;
}


/* SERVICES SECTION  */
#services {
  background-color: aliceblue;
}

.btn-primary {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  margin: 15px 0 10px !important;
  padding: 10px 25px !important;
  border-radius: 0 !important;
  font-size: 1.1rem !important;
}
.btn-primary:hover{
  background-color: var(--primary-color) !important;
  text-decoration: underline;
  border-color: var(--primary-color) !important;
}


/* ACADEMY SECTION  */
#academy { background-color: var(--tertiary-color);}
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33.3%, auto));
  gap: 20px;
  justify-content: center;
}
/* Mobile */
@media (max-width: 700px) {
  header nav {
    background-color: var(--primary-color);
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
#academy a {
  text-decoration: none !important;
}
#academy a p:hover, #academy h3:hover {
  color: var(--primary-color) !important;
  text-decoration: underline;
}

#academy img {
  height: 200px;
  width: 400px;
  object-fit: cover !important;
}


/* TESTIMONIALS SECTION */
#testimonials {
  background-color: aliceblue;
}
#testimonials h6 { color: var(--secondary-color);}

#social, .marketing {
  background-color: rgba(255, 99, 71, 0.075);
}
.social-icons img {
  /* width: 80px; */
  transition: 0.5s;
}

.social-icons a:hover img {
  transform: translateY(-10px);
}

/* FOOTER SECTION */

footer {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}
footer h4 {
  color: var(--tertiary-color) !important;
}
footer p { font-size: .875rem;}
footer a {
  color: var(--main-color) !important;
  font-size: 1rem !important;
}
footer a:hover {
  text-decoration: none !important;
  color: var(--tertiary-color) !important;
}

.info p { font-size: .9rem;}
.info p, .info h2 {
  color: var(--tertiary-color) !important;
}

#contacts .info{
  background-color: var(--primary-color);
}

#faqs h1 { color: var(--secondary-color) !important;}
#faqs button { color: var(--primary-color) !important;}